@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
.button{
    border: none;
    border-radius: 60px;
    width: 150px;
    max-width: 200px;
    font-size: 1.3em;
    padding: 10px 30px;    
    background-color: #66D36E;
    color: white;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    
    &:hover{
        background-color: #51a356;
    }
}